<!DOCTYPE html>
<html>

<head>
    <title>Group06</title>
    <script></script>
    

<!--     <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png"> -->

</head>
<!-- <link rel="stylesheet" href="./styles/style.css"> -->
<!-- <script type="module" src="./scripts/main.js"></script> -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <article>
            <header style="background-color: green;padding: 1px;text-align: center;">
                <h1>Hunt-Group06</h1>
            </header>
            <form id="form1"></form>
            <div class="container" style="width: 340px;height: 400px;background-color: black;margin-left: 326px;margin-top: 2em;margin-bottom: 1em">
                <div id="c1" class ="ripple" style="width: 340px;height: 400px;background-color: blue;margin-left: 340px;margin-top: 2em"></div>
            </div>
            <div class="container">
                <div id="c2" class = "ripple"></div>
            </div>
        </article>
    </main>
    <br>
</body>
<!-- <script type="module" src="scripts/main.js"></script> -->
<div class="footer" style="background-color: green; padding: 20px;text-align: center">
    <a href=" https://github.com/SaiGorla/Talk-2-group-6"><i style="font-size:24px" class="fa">&#xf09b;</i></a>
<!--     <a href="https://analytics.google.com/analytics/web/#/p262074267/realtime/overview?params=_u..nav%3Ddefault"> -->
<!--         Google analytics</a> -->
</div>

</html>