<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhmtl"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Edit Location</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<h2>Edit Location</h2>
		<br /> <br />
		<form action="#"
			th:action="@{/location/update/{id}(id=${location.id})}"
			th:object="${location}" method="post">
			<label for="location_name">Name</label> <input type="text"
				th:field="*{location_name}" id="location_name"
				placeholder="Location Name" required> <span
				th:if="${#fields.hasErrors('location_name')}"
				th:errors="*{location_name}"></span> <label for="latitude">Latitude</label>
			<input type="number" th:field="*{latitude}" id="latitude"
				placeholder="Latitude" step="0.0001"
				min="-90.0000" max="90.0000" required> <span
				th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span>
			<label for="longitude">Longitude</label> <input type="number"
				th:field="*{longitude}" id="longitude" step="0.0001"
				placeholder="longitude" min="-180.0000" max="180.0000" required>
			<span th:if="${#fields.hasErrors('longitude')}"
				th:errors="*{longitude}"></span> <input type="submit"
				value="Update Location">
		</form>

	</div>
</body>
</html>